*{
	font-family: 'Roboto';
	padding: 0%;
	margin: 0%;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
	margin: 0px auto;
	max-width: 1200px;
}
.inner-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	height: 28px;
}

ul#main-menu{
	display: flex;
	padding-top: 20px;
	
}
ul#main-menu a{
	padding: 10px 20px;
	color: black;
	font-weight:500;
	font-size: 16px;
}
.banner{
	display: flex;
}
.img-banner{
	max-width: 50%;
	max-height: auto;
}
.text-banner{
	max-width:50%;
	max-height: auto;
}
#h1{
	font-size: 32px;
	margin-top: 60px;
}
#p{
	font-size: 20px;
	color: #545454;
	margin-bottom: 50px;
}
#button-banner{
	border-style: none;
	padding-right: 10px;
	background-color: white;
}
.introduce{
	margin: 0px auto;
	max-width: 950px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 24.23px;
}
.introduce-item{
	margin-top: 55.14px;
	margin-bottom: 55.14px;
	margin-left: 27.14px;
	margin-right: 27.14px;;
}
.icon1,.icon2,.icon3{
	height: 300.51px;
	width: 300.51px;
	background: linear-gradient(180deg, #F5F5F5 -41.99%, rgba(250, 250, 250, 0) 79.29%);
	text-align: center;
	border-radius: 20px;
}
#introduce-h{
	font-size: 20px;
	font-weight: bold;
	margin-top: 24.48px;
}
#introduce-text{
	font-size: 16px;
	color: #545454;
	line-height: 24px;
	margin-top: 15.69px;
}

.promotions,.News{
	display: flex;
	justify-content: space-between;
	margin-top: 89px;
}

.card{
	background: #FFFFFF;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border: none;
}
.sign-up{
	display: flex;
	color: white;
}
.input-group{
	width: 40%;
	padding-top: 36px;
}
#sign-up-text{
	padding-top: 30px;
	width: 59%;
}
.form-control{
	border: none;
	height: 50px;
}
#basic-addon2{
	background: #B50202;
	color: white;
	height: 50px;
	border: none;
}
.membership{
	display: flex;	
	width: 100%;
	gap: 10%;
}
.membership-img{
	max-width: 40%;
	max-height: auto;
}
.membership-text{
	color: white;
	padding-top: 62px;
	padding-bottom: 42px;
	max-width: 50%;
	max-height: auto;
}
#button-membership{
	border-style: none;
	padding-right: 10px;
	background-color: #FF5000;
}
.footer{
	display: flex;
}